# --- Base de données ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_USERS=users_db
POSTGRES_DB_METRICS=metrics_db
POSTGRES_DB_LOGS=logs_db

# --- JWT ---
JWT_SECRET=hello_blobi_blobo

# --- Kafka ---
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_METRICS_TOPICS=metrics.trainer.pytorch,metrics.trainer.tensorflow
KAFKA_CONSUMER_GROUP_ID=ml-monitoring-api
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# --- Trainers ---
DATASET_NAMES=cifar100,fashion-mnist
BATCH_SIZE=64
LEARNING_RATE=0.001
TRAIN_LOOP_SLEEP_SECONDS=0.5
TRAIN_SEED=42
TRAINER_CPU_LIMIT=1.0
TRAINER_MEMORY_LIMIT=2G
